.bloc_form {
    margin-top: 200px;
    margin-bottom: 100px;
}

.bloc_form form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    color: #4E5166;
    background-color: #FFD7D7;
    border: 2px #4E5166 solid;
    padding: 40px;
}

form h1 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}

form label {
    margin-bottom: 20px;
    font-size: 19px;
}

form input {
    font-size: 16px;
    margin-bottom: 20px;
}

.box_text{
    height: 40px;
}
.box_description{
    height: 70px;
}

.box_button{
    display: flex;
    flex-direction: column;
}

.box_submit{
    width: 30%;
    height: 40px;
    margin: auto;
    color: white;
    background-color: #4E5166;
    border: none;
}

.box_Link{
    width: 30%;
    margin: auto;
    margin-top: 20px;
}

.box_submit_Link{
    font-size: 16px;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #4E5166;
    border: none;
}

