.bloc_form {
    margin-top: 200px;
    margin-bottom: 100px;
    min-width: 365px;
}

.bloc_form form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    color: var(--color--secondary);
    background-color: var(--color--tertiary);
    box-shadow: 0px 5px 20px 1px;
    padding: 40px;
}

form h1 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
}

form label {
    margin-bottom: 20px;
    font-size: 19px;
}

form input {
    font-size: 16px;
    margin-bottom: 20px;
}

.box_text{
    height: 40px;
}
.box_description{
    height: 70px;
}

.box_button{
    display: flex;
    flex-direction: column;
}

.box_submit{
    min-width: 100px;
    width: 30%;
    height: 40px;
    margin: auto;
    color: var(--color--titre--lien);
    background-color:var(--color--secondary);
    border: none;
}

.box_Link{
    min-width: 100px;
    width: 30%;
    margin: auto;
    margin-top: 20px;
}

.box_submit_Link{
    font-size: 16px;
    width: 100%;
    height: 40px;
    color: var(--color--titre--lien);
    background-color: var(--color--secondary);
    border: none;
}

.bloc_form_info {
    margin-top: 260px;
    margin-bottom: 100px;
    min-width: 365px;
}


.bloc_info {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color--tertiary);
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 0px 5px 20px 1px;
}

.bloc_info h1 {
    font-size: 30px;
    color: var(--color--secondary);
}

.bloc_info p {
    font-size: 19px;
    margin-bottom: 60px;
    text-align: center;
}
.btn_link{
    text-decoration: none;
}

.btn_info {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    background-color: var(--color--secondary);
    color: var(--color--titre--lien);
    border: none;
    cursor: pointer;
}

.btn_info img {
    width: 18px;
    margin-right: 5px;
}


@media all and (max-width : 768px) {

    .bloc_form form {
        width: 80%;      
    }

    .bloc_info {
        width: 80%;
    }
}

