#page{
    max-width: 1500px;
    width: 50%;
    margin: auto;
    min-height: 500px;
    color: var(--color--secondary);
    }

.main{
    margin-top: 150px;
}


.post{
    display: flex;
    flex-direction: column;
    list-style-type: none; 
    padding: 0;
    margin-top: 100px;
}

.post--link{
    text-decoration: none;
    color: var(--color--secondary);
}

.post--box{
    margin-bottom: 80px;
    background: linear-gradient(to right, #FFD7D7, #eaa6a6);
    box-shadow: 0px 5px 20px 1px;
}
.post--box--titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    
}

.post--box--contenu{
    padding-top: 20px;
}

.post--box--contenu img{
  width: 100%;
  max-height: 600px;
  object-fit: contain;
}

.post--box--contenu p{
    width: 80%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom:1px var(--color--secondary) solid;
    font-size: 18px;
  }

.post--box--like{
    border: none;
    background: none;
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 40%;
}

.post--box--like img{
    width: 25px;
}

.post--box--like p{
    padding-left: 10px;
    font-size: 16px;
}

.actionBtn {
    display: flex;
    justify-content: space-between;
    padding:30px;
    align-items: center;
}


.log,.like {
    background: var(--color--secondary);
    border: none;
    padding: 10px;
    margin-left: 20px;
    color: var(--color--titre--lien)   
}

.log:hover, .like:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer
}

.log img{
    width: 20px;
}



@media all and (max-width : 768px) {

    #page{
        min-width: 375px;
        width: 100%;      
        }

    .post--box--titre{
       flex-direction: column;
       align-items: flex-start;
    }
}

