:root {
  --color--primary: rgba(255,215,215,0.7);
  --color--secondary: #4E5166;
  --color--tertiary: #FFD7D7;
  --color--titre--lien: white;
}

body {
  margin: 0;
  background: linear-gradient(to left,rgba(255,215,215,0.7), #f9a2a2 );
  font-family: 'Lato', sans-serif;
}

.bloc_page{
  min-width: 375px;
    width: 80%;
    margin: auto;
    max-width: 1500px;
}

.foot{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right,rgba(255,215,215,0.7), #f9a2a2);
  height: 120px;
  bottom: 0;
}

.foot p{
  text-align: center;
  padding-top: 50px;
  color: var(--color--secondary);
  font-style: italic;
}


.footer{
  background: linear-gradient(to right,rgba(255,215,215,0.7), #f9a2a2);
  height: 120px;
  bottom: 0;
}

.footer p{
  text-align: center;
  padding-top: 50px;
  color: var(--color--secondary);
  font-style: italic;
}


